<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron" style="background-image: url('/stylesheets/images/333.png')">
        <h1 style="color: #ffffff">欢迎登陆页面！</h1>
        <p style="color: greenyellow">这是一个超大屏幕（Jumbotron）的实例。</p>
        <p><a class="btn btn-primary btn-lg" role="button">
                学习更多</a>
        </p>
    </div>
</div>
</body>
</html>
