<!-- 光环  -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/div.css" />
<body>
<style>


</style>

<div class="mc_d_info" id="d_info"></div>
<div class="mc_d_div" id="d_xx">
        <div class="mc_d_qr" id="d_qr_1"></div>
        <div class="mc_d_qr" id="d_qr_2"></div>
        <div class="mc_d_qr_css3_spiner" id="d_qr_5"></div>
        <div class="mc_d_qr" id="d_qr_3">
            <canvas id="cs_qr" width="320px" height="320px">  </canvas>
        </div>
        <div class="mc_d_qr_x" id="d_qr_6">
            <canvas id="cs_qr_6" width="270px" height="270px">  </canvas>
        </div>
</div >
<img id="img_xx" src="/images/demo_2.png" style="display: none">



</body>
<script type="text/javascript">

//起点start、终点end、总时长total_time、帧数frame_number
beizer_1n=function(sp,ep,tt,fn){
    var path_pix=[];
    for(var t=0;t<tt;t=t+tt/fn)
    {
        var B=[]
         B[0]=(tt-t)*sp[0]+t*ep[0];
         B[1]=(tt-t)*sp[0]+t*ep[0];
        //console.log(B)
        path_pix.push(B)
    }
   // console.log(path_pix)
    return path_pix
}

beizer_2n=function(sp,cp_1,ep,tt,fn){
    var path_pix=[];
    for(var i=0;i<tt;i=i+tt/fn)
    {
        var B=[]
        B[0]=Math.pow((tt-i),2)*sp[0]+2*i*(tt-i)*cp_1[0]+Math.pow(i,2)*ep[0];
        B[1]=Math.pow((tt-i),2)*sp[1]+2*i*(tt-i)*cp_1[1]+Math.pow(i,2)*ep[1];
        //console.log(B)
        path_pix.push(B)
    }
    // console.log(path_pix)
    return path_pix
}

beizer_3n=function(sp,cp_1,cp_2,ep,tt,fn){
    var path_pix=[];
    for(var i=0;i<tt;i=i+tt/fn)
    {
        var B=[]
        B[0]=Math.pow(i,0)*Math.pow((tt-i),3)*sp[0]
            +3*Math.pow(i,1)*Math.pow((tt-i),2)*cp_1[0]
            +3*Math.pow(i,2)*Math.pow((tt-i),1)*cp_2[0]
            +3*Math.pow(i,3)*Math.pow((tt-i),0)*ep[0]

        B[1]=Math.pow(i,0)*Math.pow((tt-i),3)*sp[1]
                +3*Math.pow(i,1)*Math.pow((tt-i),2)*cp_1[1]
                +3*Math.pow(i,2)*Math.pow((tt-i),1)*cp_2[1]
                +3*Math.pow(i,3)*Math.pow((tt-i),0)*ep[1]

        path_pix.push(B)
    }
    // console.log(path_pix)
    return path_pix
}




$(document).ready(function(){


    var img=new Image();
    img.src=document.getElementById("img_xx").src;

    img.onload = function(){
       // console.log(img.width+','+img.height);
        $("#d_xx").css("width",img.width);
        $("#d_xx").css("height",img.height);
        $("#d_info").text(img.width+' X '+img.height)

        var odiv=document.getElementById('d_xx');
        console.log(odiv.getBoundingClientRect().left+','+odiv.getBoundingClientRect().top);

        $("#d_qr_1").css("z-index",10);


        $("#d_qr_2").css("z-index",20);
        $("#d_qr_2").css("background","red");
        $("#d_qr_2").css("left","20px");
        $("#d_qr_2").css("top","40px");

        $("#d_qr_6").css("z-index",40);
        $("#d_qr_6").css("background","none");
        $("#d_qr_6").css("left","500px");
        $("#d_qr_6").css("top","300px");

        var ctx_6=document.getElementById("cs_qr_6").getContext("2d");
        var x=0;
        var XPATH=beizer_1n([0,0],[100,100],1,24);
        var XPATH=beizer_3n([0,100],[50,300],[150,0],[200,50],1,72);

        console.log(XPATH)
        setInterval(function(){
           // ctx_6.clearRect(0,0,270,270)
            ctx_6.beginPath();
            ctx_6.lineWidth="1";
            ctx_6.strokeStyle="red"; // 红色路径
            ctx_6.moveTo(XPATH[x][0],XPATH[x][1]);
            ctx_6.lineTo(XPATH[x+3][0],XPATH[x+3][1]);
            ctx_6.stroke(); // 进行绘制
            x++;
        },10000)




        $("#d_qr_3").css("z-index",30);
        $("#d_qr_3").css("background","none");
        $("#d_qr_3").css("width","320");
        $("#d_qr_3").css("height","320");
        $("#d_qr_3").css("left","980px");  //SELECTED[X]+INIT_OFFSET[X]
        $("#d_qr_3").css("top","298px");    //SELECTED[Y]+INIT_OFFSET[Y]
        $("#d_qr_3").css("opacity","1");    //SELECTED[Y]+INIT_OFFSET[Y]

        var ctx=document.getElementById("cs_qr").getContext("2d");



        setInterval(function(){
            ctx.clearRect(0,0,320,320)
            dd="#"+("00000"+((Math.random()*16777215+0.5)>>0).toString(16)).slice(-6);
            ctx.shadowBlur=50;
           // console.log(dd);
            ctx.shadowColor=dd;
            ctx.globalAlpha=1
            //ctx.fillStyle="red"
            //ctx.fillRect(28,31,270,270)
            ctx.drawImage(img,1000,300,270,270,28,31,270,270);
        },700)




        $("#d_xx").after('<div class="mc_d_qr" id="d_qr_4" style="z-index:40;left:150px;top:250px"></div>')

    }
});

</script>
</html>
