<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src="/javascripts/vendor/jquery.ui.widget.js"></script>
    <script src="/javascripts/jquery.iframe-transport.js"></script>
    <script src="/javascripts/jquery.fileupload.js"></script>
    <link rel="stylesheet" href="/stylesheets/jquery.fileupload.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fileupload-ui.css">

</head>
<body>
<input type="file" name="files" id="xfile" />
<div id="files" class="files"></div>
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
</body>
<script>
    $(function () {
        //'use strict';
        // Change this to the location of your server-side upload handler:
        $('#xfile').fileupload({
            url: '/svr_dataload_1001',
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).appendTo('#files');
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>
</html>