<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/javascripts/gif.js'></script>
    <script src='/javascripts/gif.worker.js'></script>
<body>
<style>
    div
    {
        width:100px;
        height:100px;
        background:red;
        animation:myfirst 5s;
        -moz-animation:myfirst 5s; /* Firefox */
        -webkit-animation:myfirst 5s; /* Safari and Chrome */
        -o-animation:myfirst 5s; /* Opera */
    }

    @keyframes myfirst
    {
        from {background:red;}
        to {background:yellow;}
    }

    @-moz-keyframes myfirst /* Firefox */
    {
        from {background:red;}
        to {background:yellow;}
    }

    @-webkit-keyframes myfirst /* Safari and Chrome */
    {
        from {background:red;}
        to {background:yellow;}
    }

    @-o-keyframes myfirst /* Opera */
    {
        from {background:red;}
        to {background:yellow;}
    }
</style>


<canvas id="xCanvas" width="300" height="300"></canvas>
<img id="xx_img">
<!--img id="bb_img" src="/images/abc.png"-->
<p id="xx_info"></p>
<p ><a id="xx_download">点我下载</a></p>
<div>Hello World</div>


<script type="text/javascript">

    life_time= 1
    per_frames = 24
    num_frames=life_time*per_frames
    gif_level=1000/num_frames

    width = 600
    height = 300
    text = 'HYPNO TOAD'
    textSize = 70

    $(document).ready(function(){
       // canvas = document.createElement('canvas')
        canvas = document.getElementById('xCanvas')
       // tst = document.createElement('tstcvs')

        canvas.width = width;
        canvas.height = height;

        startTime = null;
        ctx = canvas.getContext('2d');



        var gif = new GIF({
            workers: 4,
            workerScript: '/javascripts//gif.worker.js',
            quality: 10,
            width:width,
            height:height,
            transparent:'#ffffff'
        });

        ctx.textAlign = 'center'
        ctx.textBaseline = 'middle'
        ctx.lineWidth = 3
        w2 = width / 2
        h2 = height / 2

        gif.on('start',function(){
           startTime=Date.now()
        });

        gif.on('progress',function(p){
            $("#xx_info").text(Math.round(p * 100)+'%')
        });
        gif.on('finished', function(blob) {
            console.log(blob)
            $("#xx_img").attr("src",URL.createObjectURL(blob))
            $("#xx_info").text(blob.type+';100%;'+(Date.now()-startTime)/1000+'秒;'+(blob.size / 1024).toFixed(2)+'KB')
            $("#xx_download").attr("href",URL.createObjectURL(blob))
            $("#xx_download").attr("target","_blank")
        });
        for(var i=0;i<num_frames;i++)
        {
            p = i / (num_frames - 1)
           // grad = ctx.createRadialGradient(w2, h2, 0, w2, h2, w2)
            var grd=ctx.createLinearGradient(0,0,width,height);
            grd.addColorStop(0,"#00CED1");
            grd.addColorStop(1,"#ADFF2F");
            ctx.fillStyle = grd
            ctx.fillRect(0, 0, i*15, i*10)
            gif.addFrame(ctx, {copy: true, delay: gif_level})
        }

        gif.render()
    });

</script>

<%- include footer%>