<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script language="javascript">

        /*
        $(document).ready(function(){
                $("p.txtp").hide();
        });
        */

        //自定义的比较函数
        function sortByAsend(o1,o2)
        {
            if( (o1.obj_compare)>(o2.obj_compare) ){return 1}
            else if( (o1.obj_compare)==(o2.obj_compare) ){return 0}
            else{return -1}
        }

        function sortByDsend(o1,o2)
        {
            if( (o1.obj_compare)>(o2.obj_compare) ){return -1}
            else if( (o1.obj_compare)==(o2.obj_compare) ){return 0}
            else{return 1}
        }

        //onload 加载完毕后，收缩所有子表格。案例为8行【标题/ Master+SON*2 / Master+SON*3】
        function initTable(){
            var tableRows=document.getElementById("t_main").rows;
            for(var i=0;i<tableRows.length;i++){
                if(tableRows[i].id.indexOf("-")>0)
                    tableRows[i].style.display="none";
                    //console.log(i+" "+tableRows[i].style.display)
            }
        }

        //onload 加载完毕后，点'+' 展开所有子表格，点'-'，收缩所有子表格 【标题/ Master+SON*2 / Master+SON*3】
        function showRowStep(tid){
            var tableRows=document.getElementById("t_main").rows;

            //console.log(tableRows.length);//遍历所有行，以及这行的ID
            for(var j=0;j<tableRows.length;j++){
                //console.log(tableRows[j].id)
                var s=tableRows[j].id;
                var tmp=tid.id+"-";
                if(s.indexOf(tmp)!=-1 && s!=tid.id && s.split('-').length!=3){
                //每一行的ID做规则匹配，如果id是 t[x]-，但不是t[x]-[x]-[x] ,t0是this入参，说明匹配到子行，进行对应操作
                    if(tableRows[j].style.display==""){
                        tableRows[j].style.display="none";
                        tid.cells[0].firstChild.data="+";
                    }
                    else{
                        tableRows[j].style.display="";
                        tid.cells[0].firstChild.data="-";
                    }
                }
            }
        }

        function showRowEle(tid){
            var tableRows=document.getElementById("t_main").rows;

            console.log(tid);
            //console.log(tid);
            //console.log(tid.id);
            var cond=1;
            var cc=0;
            while(cond==1)
            {
                //console.log(tid.id+"-"+cc.toString());
                //console.log(document.getElementById(tid.id+"-"+cc.toString()))
                if(document.getElementById(tid.id+"-"+cc.toString()))
                {
                    cc++
                } else
                {
                    cond=0;
                }
            }
            //console.log(cc);
            //console.log(tableRows.length);//遍历所有行，以及这行的ID
            for(var j=0;j<cc;j++){
                var tmp=document.getElementById(tid.id+"-"+ j.toString())
                console.log(tmp);
                if(!tmp.display){
                    console.log('222222222222')
                    tmp.style.display="";
                    tid.cells[0].firstChild.data="-";
                    console.log(tmp)
                }
                else if (tmp.display=="table-row") {
                    console.log('33333333333333')
                    tmp.display="none";
                    tid.cells[0].firstChild.data="+";
                }
            }
        }

        function sortTable(tid){
            var tableRows=document.getElementById("t_curl").rows;
            var id_col=tid.id.split("-")[1];
            //console.log(id_col);
            //console.log(tableRows[1].cells[2].innerText);
            var tmp_data=[];
            for(var i=1;i<tableRows.length;i++)
            {
                var tmp_o={}
                tmp_o["obj_compare"]=tableRows[i].cells[id_col].innerText;
                tmp_o["obj_string"]=tableRows[i].innerHTML;
                tmp_data.push(tmp_o);
            }

            //console.log(tmp_data);
            if(tableRows[1].cells[id_col].innerText >= tableRows[tableRows.length-1].cells[id_col].innerText)
            {
                //如果现在是降序，则点击下后变为升序
                tmp_data.sort(sortByAsend);
                for(var i=1;i<tableRows.length;i++)
                {
                    console.log(tmp_data[i-1].obj_string);
                    tableRows[i].innerHTML=tmp_data[i-1].obj_string
                }
            } else
            {
                //如果现在是升序，则点击下后变为降序
                tmp_data.sort(sortByDsend);
                for(var i=1;i<tableRows.length;i++)
                {
                    console.log(tmp_data[i-1].obj_string);
                    tableRows[i].innerHTML=tmp_data[i-1].obj_string
                }
            }
        }
    </script>
</head>
<body bgcolor="#000000" onload="initTable()" >