<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
</head>
<body bgcolor="#000000">
<h1>测试TABLE</h1>
<div style="background-color:#000000;color:#ffffff;
            text-align: left;float:left;width:200px;
            line-height:22px;font-size: 15px">
    Welcome to 表格测试</div>
<div class="d_dns" style="width:110px;float:left;">DNS</div>
<div class="d_conn" style="width:110px;float:left;">CONNECTION</div>
<div class="d_send" style="width:110px;float:left;">SEND</div>
<div class="d_wait" style="width:110px;float:left;">WAIT</div>
<div class="d_recv" style="width:110px;float:left;">RECV</div>
<div class="d_geo" style="width:200px;float:left;">GEO</div>

<table class="table">
    <thead>
    <tr>
        <th>CdnIP</th>
        <th>Timings</th>
        <th>Wheter</th>
    </tr>
    <tr>
        <td>9999上海</td>
        <td>Sunny</td>

        <td style="width: 200px">
            <div class="d_dns" style="width:40px;float:left;">1.23</div>
            <div class="d_conn" style="width:70px;float:left;">3.23</div>
            <div class="d_send" style="width:30px;float:left;">2.8</div>
            <div class="d_wait" style="width:100px;float:left;">15.22</div>
            <div class="d_recv" style="width:40px;float:left;">4.3</div>
        </td>
    </tr>
    <tr>
        <td>8888广州</td>
        <td>XXCV</td>

        <td>
            <div class="d_dns" style="width:40px;float:left;">1.23</div>
            <div class="d_conn" style="width:30px;float:left;">3.23</div>
            <div class="d_send" style="width:30px;float:left;">2.8</div>
            <div class="d_wait" style="width:400px;float:left;">15.22</div>
            <div class="d_recv" style="width:100px;float:left;">4.3</div>
        </td>
    </tr>
    <tr>
        <td>7777成都</td>
        <td>554</td>

        <td>
            <div class="d_dns" style="width:100px;float:left;">1.23</div>
            <div class="d_conn" style="width:140px;float:left;">3.23</div>
            <div class="d_send" style="width:90px;float:left;">2.8</div>
            <div class="d_wait" style="width:50px;float:left;">15.22</div>
            <div class="d_recv" style="width:30px;float:left;">4.3</div>
        </td>
    </tr>
    </thead>
</table>


</body>
</html>