
<body bgcolor="#000000">
<h1>测试TABLE</h1>
<div style="background-color:#000000;color:#ffffff;
            text-align: left;float:left;width:200px;
            line-height:22px;font-size: 15px">
    Welcome to 表格测试</div>
<div class="d_dns" style="width:110px;float:left;">DNS</div>
<div class="d_conn" style="width:110px;float:left;">CONNECTION</div>
<div class="d_send" style="width:110px;float:left;">SEND</div>
<div class="d_wait" style="width:110px;float:left;">WAIT</div>
<div class="d_recv" style="width:110px;float:left;">RECV</div>
<div class="d_geo" style="width:200px;float:left;">GEO</div>
<br>
<table>
    <thead>
    <tr>
        <th class="title">CdnIP</th>
        <th class="title">Timings</th>
        <th class="title">Wheter</th>
    </tr>
    <tr>
        <td class="txt">9999上海</td>
        <td class="txt">Sunny</td>

        <td class="timing" style="width: 200px">
            <div class="d_dns" style="width:40px;float:left;">1.23</div>
            <div class="d_conn" style="width:70px;float:left;">3.23</div>
            <div class="d_send" style="width:30px;float:left;">2.8</div>
            <div class="d_wait" style="width:100px;float:left;">15.22</div>
            <div class="d_recv" style="width:40px;float:left;">4.3</div>
        </td>
    </tr>
    <tr>
        <td class="txt">8888广州</td>
        <td class="txt">XXCV</td>

        <td  class="timing" >
            <div class="d_dns" style="width:40px;float:left;">1.23</div>
            <div class="d_conn" style="width:30px;float:left;">3.23</div>
            <div class="d_send" style="width:30px;float:left;">2.8</div>
            <div class="d_wait" style="width:400px;float:left;">15.22</div>
            <div class="d_recv" style="width:100px;float:left;">4.3</div>
        </td>
    </tr>
    <tr>
        <td class="txt">7777成都</td>
        <td class="txt">554</td>

        <td  class="timing" >
            <div class="d_dns" style="width:100px;float:left;">1.23</div>
            <div class="d_conn" style="width:140px;float:left;">3.23</div>
            <div class="d_send" style="width:90px;float:left;">2.8</div>
            <div class="d_wait" style="width:50px;float:left;">15.22</div>
            <div class="d_recv" style="width:30px;float:left;">4.3</div>
        </td>
    </tr>
    </thead>
</table>


</body>
</html>