<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Har Viewer Main</title>
</head>

<body class="harBody">
<div id="content" version="2.0.15" style="width: 800px"></div>
<script src="javascripts/jquery.js"></script>
<script data-main="javascripts/harViewer" src="javascripts/require.js"></script>
<link rel="stylesheet" href="stylesheets/harViewer.css" type="text/css"/>
</body>

</html>
