<div style="background-color:#000000;color:#ffffff;
            text-align: left;float:left;width:200px;
            line-height:22px;font-size: 15px">
    Welcome to 表格测试</div>
<div class="d_dns" style="width:110px;float:left;">DNS</div>
<div class="d_conn" style="width:110px;float:left;">CONNECTION</div>
<div class="d_send" style="width:110px;float:left;">SEND</div>
<div class="d_wait" style="width:110px;float:left;">WAIT</div>
<div class="d_recv" style="width:110px;float:left;">RECV</div>
<div class="d_geo" style="width:200px;float:left;">GEO</div>