<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>

</head>
<body>
<div style="text-align: center">
<canvas id="myCanvas" width="400" height="400" style="border:1px solid #c3c3c3;"></canvas>
</div>
<script type="text/javascript">
    var $my_canvas=$("#myCanvas");
    var my_canvas=$my_canvas[0];
    var cvs=my_canvas.getContext("2d");

    cc='000000'
    dd="#"+("00000"+((Math.random()*16777215+0.5)>>0).toString(16)).slice(-6);
    ee=(Math.random()*16777215+0.5)>>0
    console.log(ee)
    console.log(("00000"+(ee).toString(16)))
    console.log(("00000"+(ee).toString(16)).slice(-6))
    console.log(dd)
    cvs.shadowBlur=20;
    cvs.shadowColor=dd
    cvs.fillStyle='blue'
    cvs.fillRect(20,20,180,180)


</script>

<%- include footer%>

