<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>

</head>
<body>
<div style="text-align: center">
<canvas id="myCanvas" width="400" height="400" style="border:1px solid #c3c3c3;"></canvas>
</div>
<script type="text/javascript">
    var $my_canvas=$("#myCanvas");
    var my_canvas=$my_canvas[0];
    var cvs=my_canvas.getContext("2d");

    preImage('/images/ggg.png',function(){
        cvs.drawImage(this,50,50,310,310);
        cvs.fillStyle="#FF0000";
        var i= 1,l=90;
        setInterval(function(){
            l=90+i;
            console.log(i,l)
            cvs.fillStyle="#000000"
            cvs.fillRect(l,l,150,75);
            //cvs.globalAlpha=0.2
            setInterval(function(){
                cvs.clearRect(0,0,400,400);
                i=i+3;
            },50);
        },200);
    });



    function preImage(url,callback){
        var img = new Image(); //创建一个Image对象，实现图片的预下载
        img.src = url;

        if (img.complete) { // 如果图片已经存在于浏览器缓存，直接调用回调函数
            callback.call(img);
            return; // 直接返回，不用再处理onload事件
        }
        img.onload = function () { //图片下载完毕时异步调用callback函数。
            callback.call(img);//将回调函数的this替换为Image对象
        };
    }


</script>

<%- include footer%>

