<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>

    <script src="/javascripts/x.js"></script>
</head>
<body >
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p id="tt1"> </p>
<p><a href="/">Goback Home</a></p>

<label for="tags" style="color: #ffffff">Tags: </label>
<input id="tags" style="width: 200px">
<input id="project" style="width: 400px">


<script type="text/javascript">
    var c=document.getElementById("tt1");
    c.innerText=add(10,20);

    $("#tags").autocomplete({
        position: { my : "right top", at: "right bottom" },
        source:function(request, response) {
          console.log(request)
          $.ajax({
                type:'POST',
                url: "/autoinfo",
                dataType: "json",
                data: {
                    top: 10,
                    key: request.term
                },
                success: function(data) {
                    console.log(data);
                    response($.map(data, function(item) {
                        return {
                            label: item.city, value: item.city }
                    }));
                }
            });
        },
        delay:300
    })._renderItem = function (ul, item) {
        return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a>" + item.label + "<br>" + item.value + "</a>")
                .appendTo(ul);
    }

    var projects = [
        {
            value: "jquery",
            label: "jQuery",
            desc: "the write less, do more, JavaScript library",
            icon: "jquery_32x32.png"
        },
        {
            value: "jquery-ui",
            label: "jQuery UI",
            desc: "the official user interface library for jQuery",
            icon: "jqueryui_32x32.png"
        },
        {
            value: "sizzlejs",
            label: "Sizzle JS",
            desc: "a pure-JavaScript CSS selector engine",
            icon: "sizzlejs_32x32.png"
        }
    ];

    $("#project").autocomplete({
        source: projects
    })
    $("#project").data("autocomplete")._renderItem = function (ul, item) {
        return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a>" + item.label + "<br>" + item.desc + "</a>")
                .appendTo(ul);
    };

</script>
</body>
</html>