<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>表格H5测试</title>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/bootstrap-slider.js'></script>
    <script src='/javascripts/jquery.Jcrop.min.js'></script>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/slider.css'/>
    <link rel='stylesheet' href='/stylesheets/jquery.Jcrop.min.css'/>

</head>
<style>
    .container {
        background: #fff;
    }
    #alert {
        display: none;
    }
    #sl2 {
        width: 400px;
    }
    #RGB {
        height: 20px;
        background: rgb(128, 128, 128);
    }
    #RC .slider-selection {
        background: #FF8282;
    }
    #RC .slider-handle {
        background: red;
    }
    #GC .slider-selection {
        background: #428041;
    }
    #GC .slider-handle {
        background: green;
    }
    #BC .slider-selection {
        background: #8283FF;
    }
    #BC .slider-handle {
        border-bottom-color: blue;
    }
    #R, #G, #B {
        width: 300px;
    }
    #eg .slider-selection {
        background: #BABABA;
    }
</style>
<body>
<div style="border: 2px solid #eea236;height: 300px;
width: 200px;margin-left: 400px;margin-top: 40px">

    <input type="text" class="span2" value="4" id="sl1"
           data-slider-min="1" data-slider-max="10"
           data-slider-step="0.01"
            >

    </br>
    </br> </br>
    <input type="text" class="span2" value="4" id="sl3"
           data-slider-min="1" data-slider-max="10"
           data-slider-step="0.01"
            >
    </br>
    </br> </br>
    <input type="text" class="span2" value=""
           data-slider-min="10" data-slider-max="1000" data-slider-step="1"
           data-slider-value="[250,450]" id="sl2">

    </br> </br>
    </br>

    </br> </br>
    </br>
    <button type="button" class="btn btn-primary" onclick="ggg(this)">原始按钮</button>
</div>

<div class="well" style="width: 500px;margin-left: 50px">
    <p>
        <b>R</b>
        <input type="text" class="span2" value=""
               data-slider-min="0" data-slider-max="255" data-slider-step="1"
               data-slider-value="128" data-slider-id="RC" id="R"
               data-slider-tooltip="hide" data-slider-handle="square" >
    </p>
    <p>
        <b>G</b> <input type="text" class="span2" value=""
                        data-slider-min="0" data-slider-max="255" data-slider-step="1"
                        data-slider-value="128" data-slider-id="GC" id="G"
                        data-slider-tooltip="hide" data-slider-handle="round" >
    </p>
    <p>
        <b>B</b> <input type="text" class="span2" value=""
                        data-slider-min="0" data-slider-max="255" data-slider-step="1"
                        data-slider-value="128" data-slider-id="BC" id="B" data-slider-tooltip="hide"
                        data-slider-handle="triangle" >
    </p>
    <div id="RGB" style="width: 200px;height: 50px"></div>
</div>
<button id="my_btn" type="button" class="btn btn-success">显示</button>
<button id="my_btn1" type="button" class="btn btn-success">清除</button>
<button id="my_btn2" type="button" class="btn btn-success">显示2</button>

<div style="width: 540px;height: 540px;border: 2px solid green;margin-left: 100px">
    <img id="my_img" src="" alt="bbbbb" >
</div>
</br>
<img id="cp_img" src="/images/aaa.jpg" alt="bbbbb" >

<img id="preview" />


</br>
</br>
</br>
<p>
    </br>
</p>

</body>

<script>

    $(function(){

        $('#cp_img').Jcrop({
            onChange: showPreview,
            onSelect: showPreview,
            onRelease: hidePreview,
            aspectRatio: 1
        });

        var $preview = $('#preview');
        // Our simple event handler, called from onChange and onSelect
        // event handlers, as per the Jcrop invocation above
        function showPreview(coords)
        {
            if (parseInt(coords.w) > 0)
            {
                var rx = 120 / coords.w;
                var ry = 120 / coords.h;

                $preview.css({
                    width: Math.round(rx * 500) + 'px',
                    height: Math.round(ry * 370) + 'px',
                    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                    marginTop: '-' + Math.round(ry * coords.y) + 'px'
                }).show();
            }
        }

        function hidePreview()
        {
            $preview.stop().fadeOut('fast');
        }

    });





    $('#my_btn').click(function(e){
       $("#my_img").attr("src","/images/bbb.jpg")

       console.log($("#my_img"))

        var img=new Image();
        img.src=document.getElementById("my_img").src;

        img.onload = function(){
            console.log(img.width)
            console.log(img.height)

            var k=(540/img.width).toFixed(3)
            console.log(k)
            w=539
            h=img.height*k
            console.log("bigger"+w,h)
            $("#my_img").css("width",w)
            $("#my_img").css("height",h)
        }

    });

    $('#my_btn1').click(function(e){
        $("#my_img").attr("src","")
    });



    $('#sl1').slider({
        formater: function(value) {
            return 'Current value: '+value.toFixed(2);
        }
    });

    var RGBChange = function() {
        $('#RGB').css('background', 'rgb('+r.getValue()+','+g.getValue()+','+b.getValue()+')')
    };

    $('#sl2').slider();

    var y = $('#B').slider()
            .on('slide', RGBChange)
            .data('slider');

    var x=$('#sl3').slider()
            .on('slide',ggg)
            .data('slider');

    function ggg(){
      //  console.log(obj)
        console.log(r.getValue())
    }

    $(function(){

    });
    var RGBChange = function() {
        $('#RGB').css('background', 'rgb('+r.getValue()+','+g.getValue()+','+b.getValue()+')')
    };

    var r = $('#R').slider()
            .on('slide', RGBChange)
            .on('slideStop', RGBChange)
            .data('slider');
    var g = $('#G').slider()
            .on('slide', RGBChange)
            .on('slideStop', RGBChange)
            .data('slider');
    var b = $('#B').slider()
            .on('slide', RGBChange)
            .on('slideStop', RGBChange)
            .data('slider');

</script>
</html>
