<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ZRender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src="/zr/js/esl/esl.js"></script>


</head>
<body>
<div id="main" style="float: left;width: 1000px;height: 1000px"></div>
<script>
    xzr_load=function(obj,p_shape,x,y,r,n){
        require.config({
            packages: [
                {
                    name: 'zrender',
                    location: './zrender/src',
                    main: 'zrender'
                }
            ]
        });
        require(
                [
                    'zrender',
                    'zrender/tool/color',
                    'zrender/shape/Circle',
                    'zrender/shape/Star'
                ],
                function (zrender) {
                    var zr = zrender.init(document.getElementById(obj));
                    var XShape = require('zrender/shape/'+p_shape);

                    zr.addShape(new XShape({
                        style : {
                            x : x,
                            y : y,
                            r : r,
                            n : n,
                            hoverable:false,
                            lineJoin : 'round',
                            color : 'rgba(0,0,0,1)',          // rgba supported
                            lineWidth : 0,
                            strokeColor:'#000000',
                            shadowColor:'#000000'
                        },
                        highlightStyle:{
                            lineWidth:0
                        }

                    }));
                    zr.render();
                }
        );
    }

    $(function(){

        for(var i=5;i<25;i++)
        {
            $("#main").append('<div id="dx_'+i+'"style="float:left;width:'+i*2.5+'px;height:'+i*2.5+'px;"></div>')
            xzr_load('dx_'+i,'Star',i*1.25,i*1.25,i,9)
        }

     //   xzr_load('main','Circle',4,4)
      //  xzr_load('dx_5','Circle',4,4)


    });


</script>
</body>
</html>