<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ZRender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src="/zr/js/esl/esl.js"></script>


</head>
<body>
<div id="main" style="width: 800px;height: 500px;background-color: palegreen"></div>
<script>
    stt=function (zrender) {
        var zr = zrender.init(document.getElementById('main'));

        zr.clear();
        var color = require('zrender/tool/color');
        var colorIdx = 0;

        var shapeX;
        var CircleShape = require('zrender/shape/Circle');
// 动画元素
        shapeX = new CircleShape({
                style : {
                    x : 100,
                    y : 200,
                    r : 30,
                    brushType : 'both' ,
                    color : 'rgba(220, 20, 60, 0.8)',
                    strokeColor : color.getColor(colorIdx++),
                    lineWidth : 3
                },
                xx : 1,
                yy : 1,
                hoverable : false
            });

            zr.addShape(shapeX);

// 绘画，利用render的callback可以在绘画完成后马上开始动画
        zr.render(function(){
            animationTicket = setInterval(
                    function(){
                        console.log(shapeX.id)
                        shapeX.style.x += shapeX.xx;
                        shapeX.style.y += shapeX.yy;
                        zr.modShape(shapeX.id, shapeX);
                        zr.refresh();
                    },
                    24)
        });

    };
    require.config({
        packages: [
            {
                name: 'zrender',
                location: './zrender/src',
                main: 'zrender'
            }
        ]
    });
    require(
            [
                'zrender',
                'zrender/tool/color',
                'zrender/shape/Circle',
                'zrender/animation/Animation'
            ],
            stt

    );

</script>
</body>
</html>