.mc_d_div {
    background:url('/images/demo_2_raw.png');
    border:1px solid #c3c3c3;
    float: left;
}

.mc_d_qr {
    opacity:0.3;
    background:dodgerblue;
    border:1px solid #c3c3c3;
    width: 270px;
    height: 270px;
    position:absolute;
}

.mc_d_qr_ccs3 {
    opacity:0.3;
    background:seagreen;
    border:1px solid #c3c3c3;
    width: 50px;
    height: 50px;
    position:absolute;
    left:700px;
    top:80px;
    -webkit-transition:width 5s, height 5s, -webkit-transform 5s;
    -webkit-transform:rotate(270deg);
}

.mc_d_qr_ccs3:hover {
    opacity:0.3;
    background:seagreen;
    border:1px solid #c3c3c3;
    width: 50px;
    height: 50px;
    position:absolute;
    left:700px;
    top:80px;
}

.mc_d_qr_css3_spiner {
    width: 60px;
    height: 60px;
    background-color: #67CF22;
    margin: 100px auto;
    -webkit-animation: rotateplane 2s infinite 0.1s ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px)  }
    40% { -webkit-transform: perspective(120px) rotate(180deg) }
    80% { -webkit-transform: perspective(120px) rotate(180deg) }

    100% { -webkit-transform: perspective(120px) }
}

.mc_d_info {
    font-family: "Microsoft YaHei";
}
